<div class="col-1">
	<h2>Welkom</h2>
</div>

<div class="col-2">
	<p>
		Actief sinds: <%= @current_user.created_at %> 
	</p>

	<ul>
		<li>
			<%= @current_user.name %>
		</li>
		<li>
			<%= @current_user.email %>
		</li>
	</ul>
</div>

<div class="col-2">
	<p>
		Adres gegevens
	<p>
	
	<ul>
		<li>
			<% #TODO set adres %>
		</li>
		<li> 
			<% #TODO set postal_code %>
		</li>
	</ul>
</div>

<div class="col-1">
	<%= link_to "Profiel aanpassen", edit_user_path, :class => 'btn btn-default' %>
</div>