<div class="col-1">
	<h2>Overview boats</h2>
</div>

<div class="col-2">
	<ul>
		<% @boats.each do |boat| %>
			<li>
				<%= link_to boat.title, boat %>
			</li>
		<% end %>
	</ul>

	<%= link_to "New boat", new_boat_path, :class => 'btn btn-default' %>
</div>

<% if @current_user %>
	<%= render 'my_favorites'%>
<% end %>
