<div class="col-1">
	<h2>My boats</h2>
</div>

<div class="col-2">
	<% @my_boats.each do |boat| %>
			<%= link_to boat.title, boat_path(boat.id) %>
			<%= link_to "Edit boat", edit_boat_path(boat.id), :class => 'btn btn-default' %>
	<% end %>
</div>

<% if @current_user %>
	<%= render 'my_favorites'%>
<% end %>