<%= link_to "Back to boat list", boats_path %>

<h2>Detail boat</h2>
<ul>
	<li>
		<%= @boat.title %>
	</li>
</ul>
<%= link_to "Edit boat", edit_boat_path %> 

<br>

<%= link_to "Delete boat", delete_boat_path %> 

<br> 
