<%# link_to "Back to boat list", boats_path %>

<div class="col-1">
	<h2>Detail boat</h2>
</div>

<div class="col-2">

	<ul>
		<li>
			<%= @boat.title %>
		</li>
	</ul>
	
	<% if current_user && @is_in_favorites.length == 0 %>
		<%= link_to "Add to favorites", add_as_favorite_path %>
	<% elsif current_user %>
		<%= link_to "Remove from favorites", add_as_favorite_path %>
	<% end %>

</div>